


body{
    background-color: black;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header input{
    width: 450px;
    padding: 10px;
    outline: 0;
    border: 1px #fff solid;
    border-radius: 2px ;
}


.btn{
    width: 150px;
    display: block;
    padding: 5px;
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid #fff;
    outline: 0;
    cursor: pointer;
    transition: all .1S ease;
}

.btn:hover{
    background-color: gray;
}

.container{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h3{
    text-align: center;
    text-transform: uppercase;
    color: #969393;
    padding: 5px;
}

#list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.items{
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.items p{
    padding: 10px;
    font-size: 20px;
}

.delete-task{
    width: 100px;
    border-radius: 2px;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: gray;
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: all .1S ease-in;
    cursor: pointer;
    font-size: 12px;
}

.delete-task:hover{
    opacity: .75;
}

.contenedor{
    text-align: center;
}

.imagen{
    width: 600px; ;
}

.boton-redireccion{
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 12px;
  font-family: sans-serif;
}

img{
    height: 60vh;
    display: flex;
}

img{
    margin: auto;
    cursor: pointer;
    transition: 4s;
}

img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;

}

.icon:hover{
    transform: translateY(-10px);
}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    margin:5px 10x;   
}

.menu-icon:hover{
    opacity: 1;
}
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size:  20px;
}